import UniversalExperience from '../../../studio/components/search/universal-experience';
import '@yext/answers-react-components/bundle.css';
import pageConfig from './{{pageId}}.json';

export default function UniversalSearchPage() {
  return (
    <html>
      <body>
        <UniversalExperience {...pageConfig}/>
      </body>
    </html>
  );
}